# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Fracture UI.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\Work\Fracture\Fracture UI\.idea\.idea.Fracture UI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
